button{
    margin:10px 0px;
}

.box{
    border:2px dotted rgb(255,0,0,0.3) ;
    width:150px;
    padding:5px
}
.calculation{
    margin-top: 20px;
}

.calculation button{
    margin: 0px 10px;
}

input{
    margin-right:10px;
}